@font-face {
    font-family: "Open Sans";
    src: url("http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff");
}

html {
    background-color: #376092;
    margin: 0;
    padding: 0;
	height:100%;
}

body {
    background-color: #376092;
    /*border-top: solid 10px #376092;*/
    color: #333;
    font-size: 1em;
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
	font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    margin: 0;
    padding: 0;
	min-height:100%;
	position:relative;	
	/*padding-bottom:100px*/

}

a {
    color: #c00000;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #c00000;
    }

    a:hover {
        /*background-color: #c00000;*/
    }

header, footer, hgroup,
nav, section {
    display: block;
	/*background-color: #376092;*/
}

mark {
    background-color: #F5F5F5; /* #a6dbed; */
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
	background-color: #fff;
	padding-bottom: 10px;
}

h1, h2, h3,
h4, h5, h6 {
    color: #376092;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.4em;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 5px;
	
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
	color:#333;
	background: #fff;
}

#body {
    background-color: #fff;
    clear: both;
    padding-bottom: 35px;

}

    .main-content {
        /*  background: url("../Images/accent.png") no-repeat;*/
        padding-left: 10px;
        padding-top: 30px;

    }

    .featured + .main-content {
       /* background: url("../Images/heroAccent.png") no-repeat; */
	 
    }

header .content-wrapper {
    padding-top: 20px; 
	background: #376092;
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 100px;
	/*position: absolute;*/
	bottom: 0;
	width: 100%;

	
	
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #fff;
    font-family: "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    font-size: 0em;
    margin: 0;
	background: url("../Images/logo.png") no-repeat; 
	width: 500px;
	height: 60px;
	
}

.site-title a, .site-title a:hover, .site-title a:active {
    /*background: #376092;*/
    color: #fff;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 0px;
    text-align: right;
	color:#fff;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
	color:#fff;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
		color:#fff;
    }

        ul#menu li a {
            background: none;
            color: #fff;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #fff;
            text-decoration: none;
        }

/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    /*background-color: #336699;*/
}

    .featured .content-wrapper {
        /*background-color: #336699;
        background-image: -ms-linear-gradient(left, #376092 0%, #376092 100%);
        background-image: -o-linear-gradient(left, #376092 0%, #376092 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #376092), color-stop(1, #376092));
        background-image: -webkit-linear-gradient(left, #376092 0%, #376092 100%);
        background-image: linear-gradient(left, #376092 0%, #376092 100%); */
        color: #333;
        padding: 20px 40px 30px 40px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #376092;
			font-size: 1.4em;
			border-bottom: 1px solid #e2e2e2;
			padding-bottom: 5px;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    /*margin: 0;*/
    padding: 0;
	padding-top: 10px;
    /*color: rgb(100, 100, 100);*/
    /*border: 1px solid rgba(234, 234, 234, 0.8);*/
    /*font-size: 10pt;*/
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

.divTable {
    display: table;
    /*width: 100%;*/
    background-color: white;
    padding:20px;
}

.divRow {
    display: table-row;
}

.divRow div {
    display: table-cell;
    /*width:30%;*/
    padding:0px 20px 0px 20px;
}

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

input.duration
{
    width: 60px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #376092;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        /*Margin-right: 8px;*/
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #c00000;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #376092;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #c00000;
}

/* styles for validation helpers */
.field-validation-error {
    color: #c00000;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #c00000;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #c00000;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
	padding-bottom: 10px;
}

table.grid {
    width: 100%;
	border: 0 none;
}

th {
    font-size: 1.0em;
    text-align: left;
    /*border: 2px solid #376092;
    padding-left: 0;
    background-color:#376092;*/
    color: #376092;
    padding: 0.25em 0.25em 0.25em 0.25em;
	vertical-align: bottom;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 0.25em 0.25em 0.25em;
    border: 0 none;
	/*vertical-align: top;*/
}

table.grid tr:nth-child(odd)    {
    /*background-color:#e2e2e2; */
	border-bottom: 1px solid #e2e2e2;
	height: 60px;
	vertical-align: top;	

}
table.grid tr:nth-child(even)   { 
    /*background-color:#fff; */
	border-bottom: 1px solid #e2e2e2;
	height: 60px;
	vertical-align: top;	
}

table.grid tr, tr.bottom {
    /*border-left: 2px solid #376092;
    border-right: 2px solid #376092;*/
}

table.grid tr:last-child {
    /*border-bottom: 2px solid #376092;*/
}

tr.pager td {
    padding: 0 0.25em 0 0;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
		background-color: #376092;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #fff;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
		color:#fff;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #fff;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}


/********************************************* DP **************************************************/

div.select {
    width: 310px;
    overflow: hidden;
    background: url("../Images/dropdown.png") no-repeat right #fff;
    background-position-x: 287px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin: 5px 0 6px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

    div.select select {
        background: transparent;
        width: 340px;
        font-size: 1.2em;
        padding: 3px;
        /*font-size: 16px;*/
        line-height: 1;
        border: 0;
        margin: 0;
        /*height: 34px;*/
        -webkit-appearance: none;
        -moz-appearance: none;
        /*pointer-events: none;*/
    }

    div.select select:focus {
        outline: none;
    }

.preview {
    padding-left:100px;
}

    #canvas {
        position:relative;
        width: 300px;
        height: 300px;
        border: 1px solid grey;
        text-align: center;
        overflow: hidden;
        padding: 0 0 0 0;
        box-shadow: 10px 10px 5px #AAA;
    }

        #canvas div {
            padding:0 0 0 0;
            position: absolute;
            border:0px;
        }

            .panel {
                filter: alpha(opacity=50); 
                opacity: 0.5;
                background-color:#fff;
                color:#000;
                z-index:1;
            }

            .panel-high {
                filter: alpha(opacity=80); 
	            opacity: 0.8;
                background-color:#C00000;
                color:#fff;
                z-index:2;
            }

#picture img {
    border: 1px solid grey;
    box-shadow: 10px 10px 5px #AAA;
}

#film { 
    list-style-type: none; 
    margin: 0; 
    padding: 0 0 2.5em; 
    float: left; 
    margin-right: 50px;
    margin-top: 20px; 
}

    #film li { 
        margin: 0px 0px 0px 0px; 
        padding: 5px 35px 5px 35px; 
        font-size: 0.8em; 
        width: 130px;
        height: 90px;
        background: url("../images/film.png") no-repeat #fff;
        cursor: ns-resize;
    }

        #film div { 
            overflow: hidden;
            /*vertical-align: middle;*/
            /*height: 90px;*/
            /*line-height: 90px;*/
        }

