/Management/bin
/Management/obj
/Management/Migrations
/Language/obj
/Language/bin
/Presentation/files/favicon.ico
/Presentation/files/menu.jpg
/Presentation/files/background.jpg
/Presentation/js/tubular
