/Management/bin
/Management/obj
/Management/Migrations
/Language/obj
/Language/bin
/Presentation/files/favicon.ico
/Presentation/files/menu.jpg
/Presentation/files/background.jpg
/Presentation/js/tubular
/Management/CodeTemplates/MvcView/Create.cs.cshtml
/Management/CodeTemplates/MvcView/Delete.cs.cshtml
/Management/CodeTemplates/MvcView/Details.cs.cshtml
/Management/CodeTemplates/MvcView/Edit.cs.cshtml
/Management/CodeTemplates/MvcView/Empty.cs.cshtml
/Management/CodeTemplates/MvcView/List.cs.cshtml
/Presentation/App_Data
/packages/DirectShowLib.1.0.0/lib/DirectShowLib.pdb
