@model DisplayMonkey.Models.Clock

@{
    ViewBag.Title = "Delete clock frame";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete this frame?</h3>

@Html.Partial("_Details")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Frames list", "Index", "Frame")
    </p>
}
