@model DisplayMonkey.Models.Level

<fieldset>
    <legend>@Resources.Level</legend>

    <div class="divTable">
    <div class="divRow">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    </div>
    </div>
</fieldset>

