@model DisplayMonkey.Models.Video

@{
    string supportedVideos = string.Join(", ", DisplayMonkey.Models.Video.SupportedFormats);
}

        <div class="editor-label">
            @Html.LabelFor(model => model.Contents.FirstOrDefault().Data)
        </div>
        <div class="editor-field">
            <input type="file" name="files" id="files" multiple="" />
            @Html.ValidationMessageFor(model => Model.Contents)
            <p>Supported image formats include: @supportedVideos. All other content will be ignored.</p>
            <p>Note: for variety of browsers video frames can be linked to multiple alternative media streams, push and hold [Shift] or [Ctrl] key to select multiple files.</p>
        </div>
