@model DisplayMonkey.Models.Report

<div class="d1">
    <div><img src="@Url.Action("Thumb", "Report", new { id = Model.FrameId, width = 50, height = 50, mode = (int)RenderModes.RenderMode_Stretch })" alt="" /></div>
    <div>@(string.Format("{0}, {1} {2}", Model.FrameType, Model.Duration, Resources.Sec))</div>
</div>
<div>
    @Html.ShortSpan(Model.Name, 17)
</div>
