@charset "UTF-8";

	A:link {text-decoration:none; color:#d23006;}
	A:visited {text-decoration:none; color:#d23006;}
	A:active {text-decoration:none; color:#d23006;}
	A:hover {text-decoration:none; color:#005072;}


	@font-face {  
    	font-family:Futura;  
    	src:url('../files/fonts/futura.eot') format('embedded-opentype'); /* For IE */ 
    	src:local('futura'), url('../files/fonts/futura.ttf') format('truetype'); /* For non-IE */ 
        src: url(http://themes.googleusercontent.com/static/fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff);
	}  
	
	/*******************************************************************************/
	
	body {
		margin:0px;
		padding:0px;
		font-family:Futura, Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
		color:white;
	}
	
	video {
		background-color: transparent;
	}
	
    img {
        border: none;
    }

	/*******************************************************************************/
	
	#error {
		position:absolute;
		padding:20px;
        text-align:left;
        font-size:3em;
        font-family:'Lucida Console';
		background-color:red;
        color:white;
		top:10px;
		left:10px;
		width:auto;
		height:auto;
		z-index:100000;
	}

	#screen {
		position:absolute;
		padding:0px;
		background-color:black;
		top:0px;
		left:0px;
		width:100px;
		height:100px;
		z-index:10000;
		/*display:none;*/
	}

	#full, #x_full {
		position:relative;
		margin-left:auto;
		margin-right:auto;
		padding:0px;
		overflow:hidden;
		z-index:10001;
		vertical-align:middle;
		text-align:center;
		/*border:1px solid yellow;*/
	}

	#full *, #x_full * {
		vertical-align:middle;
	}
	
	/*\*//*/
	
    #full, #x_full {
		display:block;
	}
	#full span, #x_full span {
		display:inline-block;
		height:100%;
		width:1px;
	}
	/**/
	
	#full>span, #x_full>span {
		display:inline-block;
		height:100%;
		/*border:1px solid cyan;*/
	}

	#full>img, #x_full>img {
		margin:auto;
		vertical-align:middle;
	}

	/*******************************************************************************/
	
	#segments {
		position:relative;
		margin-left:auto;
		margin-right:auto;
		background-color:black;
		background-repeat:no-repeat;
		/*border:1px solid cyan;*/
	}
	
	/*******************************************************************************/
	
	.memo {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		font-size:20px;
		line-height:normal;
		/*border:1px solid maroon;*/
	}
	
	.subject {
		padding:15px;
		color:white;
		font-size:40px;
		line-height:40px;
		text-transform:uppercase;
	}
	
	/*******************************************************************************/
	
	.clock {
		font-size:14px;
		text-align:right;
		vertical-align:middle;
		line-height: 150%;
	}

    .analogFace {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../files/clockface.png) no-repeat;
        background-size: 600px 600px;
        background-position:0px 0px;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
        
    .analogSec {
        z-index: 4;
        background: url(../files/sechand.png) no-repeat;
        /*border:1px solid yellow;*/
    }
           
    .analogMin {
        z-index: 3;
        background: url(../files/minhand.png) no-repeat;
        /*border:1px solid green;*/
    }
           
    .analogHour {
        z-index: 2;
        background: url(../files/hourhand.png) no-repeat;
        /*border:1px solid red;*/
    }
	
    .analogSec, .analogMin, .analogHour {
        position: absolute;
        margin: 0px;
        padding: 0px;
        top: 0px;
        left: 0px;
        width: 600px;
        height: 600px;
        background-size: 600px 600px;
        background-attachment:local;
    }
        
	/*******************************************************************************/
	
	#weather {
		position:relative;
		left:0px;
		width:100%;
		height:100%;
		margin:0px auto;
		text-align:left;
		font-size:14px;
		color:#525;
		background-image:url(../files/weather.png);
		background-repeat:no-repeat;		
	}
	
	#weather td {
		padding-left:5px;
		line-height: 150%;
		height:60px;
	}
	
	/*******************************************************************************/
		
    iframe.html {
        width:100%;
        height:100%;
        border:none;
        overflow:hidden;
    }

	/*******************************************************************************/

    div.ytcontainer {
        overflow:hidden; 
        z-index:1; 
        width:100%; 
        height:100%;
    }
	
    div.ytshield {
        z-index:2; 
        position:absolute; 
        left:0; 
        top:0; 
        width:100%; 
        height:100%;
    }

	/*******************************************************************************/
	
    div.outlook {
        font-family: lucida console;
        text-align: left;
        overflow: hidden;
        padding: 0px;
    }

        div.outlook>.free {
            background-color: green;
            color: white;
            text-shadow: -1px -2px 0px #4d6d4d;
            border-top: 1px solid #80B280;
            border-bottom:  1px solid #003300;
        }

        div.outlook>.busy {
            background-color: red;
            color: white;
            text-shadow: -1px -1px 0px #8d4d4d;
            border-top: 1px solid #FF8080;
            border-bottom:  1px solid #B20000;
        }

            div.outlook>.free div, div.outlook>.busy div {
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 5px;
                padding-bottom: 3px;
            }

            div.outlook .mailbox {
                font-size: 2em;
            }

        div.outlook>.plan table {
            width: 100%;
            border: 0;
            border-spacing: 0;
        }

            div.outlook>.plan tr {
                background-color: #EEE;
            }

                div.outlook>.plan th {
                    background-color: grey;
                    color: white;
                    text-shadow: -1px -1px 0px #4d4d4d;
                    padding: 5px;
                    border-top: 1px solid #B2B2B2;
                    border-bottom:  1px solid #333333;
                    text-align: left;
                }

                div.outlook>.plan th.col1, 
                div.outlook>.plan th.col2,
                div.outlook>.plan th.col3,
                div.outlook>.plan th.col4 {
                }

                div.outlook>.plan td {
                    background-color: #CFCFCF;
                    color: #444;
                    text-shadow: -0.5px 1px 0px #fff;
                    padding: 5px;
                    border-top: 1px solid #E2E2E2;
                    border-bottom:  1px solid #7C7C7C;
                }

                div.outlook>.plan td.col1, 
                div.outlook>.plan td.col2,
                div.outlook>.plan td.col3,
                div.outlook>.plan td.col4 {
                }

	/*******************************************************************************/
	

