@model DisplayMonkey.Models.Weather

<div class="d1">
    <div><img src="~/images/weather.png" alt="" /></div>
    <div>@(string.Format("{0}, {1} {2}", Model.FrameType, Model.Duration, Resources.Sec))</div>
</div>
<div>
    @Html.ShortSpan(Model.Type.Translate(), 17)
</div>
