@{ Layout = "~/Views/Shared/_Layout.cshtml"; } 

@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h2 class="error">An error occurred while processing your request.</h2>
</hgroup>

<fieldset>
    <legend>Details</legend>
    <table class="error-info">
    <tr>
        <td>Source</td>
        <td><div class="error-source">@Model.ControllerName/@Model.ActionName</div></td>
    </tr>

    <tr>
        <td>Message</td>
        <td><div class="error-message">@Model.Exception.Message</div></td>
    </tr>

    <tr>
        <td>Stack Trace</td>
        <td>
            <div class="error-trace">
                <pre>@Model.Exception.StackTrace</pre>
            </div>
        </td>
    </tr>
    </table>
</fieldset>

<p><a href="javascript:window.history.back();">Back to previous page</a></p>

