@model DisplayMonkey.Models.Powerbi

<div class="d1">
    <div><img src="~/images/powerbi.png" alt="" /></div>
    <div>@(string.Format("{0}, {1} {2}", Model.FrameType, Model.Duration, Resources.Sec))</div>
</div>
<div title=@Model.Name>
    @Html.ShortSpan(Model.Name, 50)
</div>
