@using DisplayMonkey.Language

@model DisplayMonkey.Models.Content

@{
    ViewBag.Title = Resources.MediaDetails;
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Details")

<p>
    @Html.ActionLink(Resources.Edit, "Edit", new { id=Model.ContentId }) |
    @Html.ActionLink(Resources.ViewUploadedMedia, "Index")
</p>
